@import url(variables.css);

@font-face {
    font-family: 'Bold';
    src: url(../storage/fonts/ProtestStrike-Regular.ttf);
}
@font-face {
    font-family: 'Regular';
    src: url(../storage/fonts/TitilliumWeb-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorB1);
    cursor: none;
    user-select: none;
    overflow: hidden;
}
#bgImg{
    z-index: 2;
    position: absolute;
    width: 100%;
}
#bgParticulas{
    z-index: 2;
    position: absolute;
    width: 100%;
    opacity: 0.2;
}


#title{
    z-index: 3;
    text-shadow: 0px 0px 50px #ffffff40;
    font-family: 'Bold', sans-serif;
    color: var(--colorW);
    letter-spacing: 10px;
    font-size: 150px;
}
#description{
    z-index: 3;
    font-family: 'Regular', sans-serif;
    color: var(--colorW);
    font-size: 24px;
    letter-spacing: 2px;
}
#cursorDiv{
    position: absolute;
    background-color: #ffffff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    z-index: 4;
}
#cursorDivShadow{
    animation: flicker 2s infinite 10s;
    position: absolute;
    background-color: #ffffff00;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 300px 80px var(--colorB2);
    z-index: 1;
}

.blacktest{
    font-family: 'Regular';
    z-index: +1;
    color: var(--colorB1);
    font-size: 40px;
}
#start{
    z-index: 4;
    transition: 0.2s;
}
#start:hover{
    color: var(--colorB2);
}


.purple{
    color: var(--colorB2);
}


@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    10% {
        opacity: 0.7;
    }
    20% {
        opacity: 0.4;
    }
    30%, 50% {
        opacity: 0.9;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.2;
    }
    70%, 90% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.3;
    }
}