@import url(variables.css);

@font-face {
    font-family: 'Bold';
    src: url(../storage/fonts/ProtestStrike-Regular.ttf);
}
@font-face {
    font-family: 'Regular';
    src: url(../storage/fonts/TitilliumWeb-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorB1);
    cursor: none;
    user-select: none;
    overflow: hidden;
}


#title{
    text-shadow: 0px 0px 50px #ffffff40;
    font-family: 'Bold', sans-serif;
    color: var(--colorW);
    letter-spacing: 10px;
    font-size: 150px;
}
#description{
    font-family: 'Regular', sans-serif;
    color: var(--colorW);
    font-size: 24px;
    letter-spacing: 2px;
}
#cursorDiv{
    position: absolute;
    background-color: #ffffff00;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 200px 60px var(--colorB2);
    z-index: +1;
}

.blacktest{
    font-family: 'Regular';
    z-index: +1;
    color: var(--colorB1);
    font-size: 40px;
}
#start{
    transition: 0.2s;
}
#start:hover{
    color: var(--colorB2);
}


.purple{
    color: var(--colorB2);
}